<h3 class="ui header">{{t "forms.i-i-s-kyrs1-транзакция-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs1-транзакция-e.номер-caption")
      data-test-i-i-s-kyrs1-транзакция-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs1-транзакция-e.покупкаБилета-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.покупкаБилета
      displayAttributeName="пунктОтпр"
      autocomplete=true
      relationName="покупкаБилета"
      projection="ПокупкаБилетаL"
      title=(t "forms.i-i-s-kyrs1-транзакция-e.покупкаБилета-caption")
      readonly=readonly
      componentName="покупкаБилетаLookup"
      class=(if (v-get validationModel "покупкаБилета" "isInvalid") "error")
      data-test-i-i-s-kyrs1-транзакция-e-покупкаБилета=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "покупкаБилета" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs1-транзакция-e.клиент_-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.клиент_
      displayAttributeName="банкСчет"
      autocomplete=true
      relationName="клиент_"
      projection="Клиент_L"
      title=(t "forms.i-i-s-kyrs1-транзакция-e.клиент_-caption")
      readonly=readonly
      componentName="клиент_Lookup"
      class=(if (v-get validationModel "клиент_" "isInvalid") "error")
      data-test-i-i-s-kyrs1-транзакция-e-клиент_=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "клиент_" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs1-транзакция-e.возвратБилета-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.возвратБилета
      displayAttributeName="датаВозврата"
      autocomplete=true
      relationName="возвратБилета"
      projection="ВозвратБилетаL"
      title=(t "forms.i-i-s-kyrs1-транзакция-e.возвратБилета-caption")
      readonly=readonly
      componentName="возвратБилетаLookup"
      class=(if (v-get validationModel "возвратБилета" "isInvalid") "error")
      data-test-i-i-s-kyrs1-транзакция-e-возвратБилета=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "возвратБилета" "message")}}
  </div>
</form>
